<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/440a91449a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../CSS/navbar.css">
    <title>statistics</title>
  </head>
  <body>



  <hr class='my-4'> <br>

  <div class="d-flex flex-row bd-highlight p-3 justify-content-center">
    <div class="about-sec container" style = "text-align:center;">
      <div class="d-flex flex-row bd-highlight justify-content-center"><br>
        <h1 class="fs-title">{{first_name}} {{last_name}}</h1>  <br></div> <br>
        <h3> words spoken: {{numTotalWords}} </h3>
        <h3> entries made: {{numEntries}} </h3>
        <div style="text-align:center; background-color:rgb({{r}}, {{g}}, {{b}}); width: 30%; margin-left: 35%; padding: 5px 5px;">
            <h3> average color: </h3> <p>rgb({{r}}, {{g}}, {{b}})</p>
        </div>
        <h3> types of words spoken:</h3>
        <div class = "row">
            <div class = "col d-flex flex-column justify-content-start align-items-end">
                <h5>sad: {{nsad}}</h5>
                <h5>angry: {{nangry}}</h5>
                <h5>confused: {{nconfused}}</h5>
                <h5>tired: {{ntired}}</h5>
            </div>
            <div class = "col d-flex flex-column justify-content-start align-items-start">
                    <h5>happy: {{nhappy}}</h5>
                    <h5>worried: {{nworried}}</h5>
                    <h5>embarassed: {{nembarrassed}}</h5>
            </div>
        </div>
        <!-- <div class = "row" style = "background: linear-gradient(0.25turn, 
            {% for entry in journal_colors %}rgb({{entry[0]}}, {{entry[1]}}, {{entry[2]}}),{% endfor %})"
        );>hello
        </div> -->
    </div>
  </div>





  </body>
</html>
